.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .brand-header {
        display: flex;
        align-items: center;
        gap: 1em;
        font-weight: 700;
    }
}