.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .brand-header, .title-header {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .brand-header {
        font-weight: 700;
        pointer-events: none;
        user-select: none;
    }

    .title-header .desc-title {
        font-size: .9em;
        font-weight: 400;
        color: #999999;
    }
}