.main-page {
    display: grid;
    grid-template-areas:
        "header header"
        "left-sidebar main";
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    
    > * {
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    app-header {
        grid-area: header;
    }

    left-sidebar {
        grid-area: left-sidebar;
        min-width: max(15em, 15vw);
    }

    main-content {
        grid-area: main;
        border-top-left-radius: 1em;
        background: #33333caa;
    }
}