.left-sidebar {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 100%;
    gap: .5em;

    * {
        background: #222a;
        padding: .2em .5em;
        border-radius: .5em;
    }
}