.canvas {
    position: relative;
}

#file-input {
    z-index: 1;
    position: relative;
    left: 52%;
    transform: translateX(-52%);
    font-size: 15px;
}

#three-canvas {
    position: relative;
    height: 100% !important;
    width: 100% !important;
    z-index: 10;
}