<main [className]="'main-content no-archive'">
  <section [className]="'drag-archive'">
    <div>Drop file</div>
  </section>
  <section [className]="'input-file-container'">
    <div [className]="'drag-over'" draggable>
      <span>Solte aqui um arquivo<br>ou<br></span>
      <input type="file" name="load" id="file-input" accept=".ifc" hidden />
      <label for="file-input" [className]="'file-button'">
        <span>Escolha do dispositivo</span>
        <svg xmlns="http://www.w3.org/2000/svg" [className]="'icon'" viewBox="0 0 512 512"><path d="M336 176h40a40 40 0 0140 40v208a40 40 0 01-40 40H136a40 40 0 01-40-40V216a40 40 0 0140-40h40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M176 272l80 80 80-80M256 48v288"/></svg>
      </label>
    </div>
  </section>
  <section [className]="'output-container'">
    <div [className]="'input'">
      <input type="file" name="load" id="file-input" accept=".ifc" hidden />
      <label for="file-input" [className]="'file-button'">
        <span>Escolher outro arquivo</span>
        <svg xmlns="http://www.w3.org/2000/svg" [className]="'icon'" viewBox="0 0 512 512"><path d="M336 176h40a40 40 0 0140 40v208a40 40 0 01-40 40H136a40 40 0 01-40-40V216a40 40 0 0140-40h40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M176 272l80 80 80-80M256 48v288"/></svg>
      </label>
    </div>
    <div [className]="'canvas'">
      <canvas id="three-canvas"></canvas>
    </div>
  </section>
  <div [className]="'loading'">
    <section [className]="'loop'">
      @for (str of loadingText; track $index) {
        <span [style]="{'--delay': $index}">{{ str }}</span>
      }
    </section>
  </div>
  <div [className]="'error'">
      <span>Erro!</span>
  </div>
</main>