@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Poppins;
}

.main-page {
    position: relative;
    display: flex;
    inset: 0;
    height: 100vh;
    width: 100vw;
    background: #111;
    color: #eee;
}

.icon {
    height: 1em;
    width: 1em;
    fill: currentColor;
}

.main-mesh {
    width: 20em;
    padding-right: 1em;

    &:not(.active) {
        .mesh-container {
            display: none;
        }
    }

    &.active {
        .mesh-container {
            display: flex;
        }

        .mesh-title {
            pointer-events: none;

            .title-icon {
                transform: rotate(90deg);
            }
        }
    }

    .mesh-title {
        background: #222a;
        padding: .2em 1em;
        border-radius: .5em;
        font-weight: 700;
        user-select: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: .2s ease-in-out;

        &:hover {
            background: #333a;
        }

        .title-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            height: 1em;
            width: 1em;
            transition: transform .2s ease-in-out;

            ion-icon {
                height: 1em;
                width: 1em;
                fill: currentColor;
            }
        }
    }

    .mesh-container {
        flex-direction: column;
        overflow: hidden;
        padding-inline: 1em;
        margin-inline: 1em;
        background: #181818;
        border-bottom-left-radius: .5em;
        border-bottom-right-radius: .5em;

        .inner-mesh {
            display: flex;
            flex-direction: row;
            gap: .5em;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            &.mesh-color {
                .inner-mesh-content {
                    padding: .3em .5em;
                    line-height: 1em;
                    border-radius: .25em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                    color: var(--mesh-color);
                    background-color: var(--mesh-bg-color);
                }
            }

            &.mesh-id {
                .inner-mesh-content {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: .8em;
                }
            }

            .inner-mesh-title {
                font-weight: 700;
            }
        }
    }
}

::-webkit-scrollbar {
    width: .65em;
    margin-left: 1em;
}

::-webkit-scrollbar-track {
    background: #090909;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 2em;
}